.landing-page {
  font-family: Arial, sans-serif;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  padding: 20px;
}

header {
  padding: 20px;
  background-color: red;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.featured-listings h1 {
  color:red;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 45px;
}

.featured-listings h2 {
  font-weight: 200;
  color: red;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.featured-listings {
  padding: 20px 0;
  background-color: #391f97;
}

.listings-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 30px
}

.listing-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
  background-color: rgb(209, 0, 52);
}

.listing-card:hover {
  transform: translateY(-5px);
  animation: randomGlow 0.3s forwards;
}

@keyframes randomGlow {
  to {
    box-shadow: 
      0 5px 15px rgba(0,0,0,2),
      0 0 50px var(--random-color);
  }
}

.listing-image {
  height: 200px;
  overflow: hidden;
  position: relative;
}

.listing-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder-image {
  background-color: #f0f0f0;
  height: 100%;
}

.listing-info {
  padding: 10px;
}

.listing-location {
  font-weight: bold;
}

.listing-price {
  color: #DB7F53;
}

.listing-rating {
  color: #ff9900;
}


.listing-name-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
  color: rgb(255, 0, 0);
  padding: 10px;
  text-align: center;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  box-shadow: #DB5361;
}

.listing-card:hover .listing-name-overlay {
  opacity: 1;
}

@media (max-width: 768px) {
  .listings-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.landing-title {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff0000;
  margin: 20px 0;
  text-align: center;
}
