.create-spot {
  max-width: 600px;
  margin: 60px auto 0;
  padding: 20px;
}

.create-spot h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.create-spot h2 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.create-spot p {
  color: #717171;
  margin-bottom: 15px;
}

.create-spot form {
  display: flex;
  flex-direction: column;
}

.create-spot section {
  margin-bottom: 31px;
}

.create-spot label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.create-spot input,
.create-spot textarea {
  width: 100%;
  padding: 11px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-spot textarea {
  height: 100px;
}

.city-state,
.lat-lng {
  display: flex;
  justify-content: space-between;
}

.city-state label,
.lat-lng label {
  width: 48%;
}

.create-spot button {
  background-color: #ff385c;
  color: white;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.create-spot button:hover {
  background-color: #e31c5f;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
  margin-bottom: 5px;
}
