.create-spot {
  max-width: 600px;
  margin: 60px auto 0;
  padding: 20px;
}

.create-spot h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.create-spot h2 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.create-spot p {
  color: #717171;
  margin-bottom: 15px;
}

.create-spot form {
  display: flex;
  flex-direction: column;
}

.create-spot section {
  margin-bottom: 31px;
}

.create-spot label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.create-spot input,
.create-spot textarea {
  width: 100%;
  padding: 11px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.create-spot textarea {
  height: 100px;
}

.city-state,
.lat-lng {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.city-state label,
.lat-lng label {
  flex: 1;
}

.create-spot button {
  background-color: #ff385c;
  color: white;
  padding: 12px 20px;
  border: 1px solid #ff385c;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 2, 1.5);
  transition: all 0.3s ease;
  width: fit-content;
  align-self: center;
}

.create-spot button:hover {
  background-color: #e31c5f;
  border-color: #e31c5f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.section-divider {
  border: none;
  border-top: 3px solid #000000;
  margin: 20px 0;
  width: 100%;
}
