/* TODO: Add sitewide styles */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@font-face {
  font-family: 'Holiday-Font';  /* This is the name you'll use to reference the font */
  src: url('./fonts/StackyardPersonalUse-16Dj.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Define it as a CSS variable for consistent use */
:root {
  --heading-font: 'Holiday-Font', sans-serif;  /* Include a fallback font */
}

/* Apply to all headings globally */
h1, h2 {
  font-family: var(--heading-font);
}
