body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.profileBtn {
  display: flex;
  right: 20px;
  flex-direction: row-reverse;
  height: auto;
  width: 300px;
  cursor: pointer;
}

.profileBtn:hover {
  cursor: pointer;
}

.topnav {
  background-color: #dce6e1;
  color:rgb(209, 0, 52);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
  width: 100%; 
  box-sizing: border-box; 
  position: fixed; 
}

.left-section {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}


.topnav .logo-link:hover {
  background-color: transparent;
}

.logo {
  height: 80px; 
  width: auto;
  margin-right: 8px;
}

.site-name {
  color:rgb(209, 0, 52);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.topnav a {
  color: #00b966; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  box-shadow: box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.topnav a:hover {
  background-color: transparent; 
  color: rgb(255, 6, 6); 
}


main {
  margin-top: 65px; 
}

.profile-icon {
  cursor: pointer;
}

.create-spot-link {
  border-radius: 10px;
  background-color: #ce5858; 
}

.create-spot-link:hover {
  color: #7a2535; 
}
