body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.hidden {
  display: none;
}

.profileBtn {
  display: flex;
  right: 20px;
  flex-direction: row-reverse;
  height: 50px;
  width: 300px;
  cursor: pointer;
}

.profileBtn:hover {
  cursor: pointer;
}

.topnav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 19px;
  height: 60px;
  width: 100%; 
  box-sizing: border-box; 
  position: fixed; 
}

.left-section {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}


.topnav .logo-link:hover {
  background-color: transparent;
}

.logo {
  height: 48px; 
  width: auto;
  margin-right: 8px;
}

.site-name {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.topnav a {
  color: white; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: transparent; 
  color: white; 
}


main {
  margin-top: 65px; 
}

.profile-icon {
  cursor: pointer;
}

.create-spot-link {
  color: white;
  border-radius: 10px;
  background-color: #312f2f; 
  transition: none; 
}

.create-spot-link:hover {
  background-color: #ff385c; 
}
